<ion-view title="Booth List" id="page9">
 
 
  <ion-content padding="true" style="background: url(img/Iwm9uNIjRtY2hTi2puhp_events.jpg) no-repeat center;background-size:cover;" class="has-header">
   
      
      
      <div class="get_booth_show"  style="display:none; " id="booth_list0" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="booth_name0"> Booth Name 1 </span> 
      <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="booth_list1" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="booth_name1"> Booth Name 1 </span> 
      <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="booth_list2" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="booth_name2"> Booth Name 1 </span> 
      <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="booth_list3" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="booth_name3"> Booth Name 1 </span> 
      <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="booth_list4" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="booth_name4"> Booth Name 1 </span> 
      <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="booth_list5" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="booth_name5"> Booth Name 1 </span> 
      <i class="icon ion-android-arrow-dropright icon-accessory"></i>
      </ion-item>
      </div>
      
      
    
    
  </ion-content>
</ion-view>