<ion-view ng-controller="eventsCtrl"  title="Events" id="page6">
  <ion-content padding="true" style="background: url(img/2MGf7uOwSlinsaatX1Dj_events.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="events_list">

     
     
     
      <ion-item id="event_list0" data-event_id="" style="display:none;" class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name0">Event Name </span>
          <p  id="event_category0">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="event_list1" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name1">Event Name </span>
          <p  id="event_category1">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="event_list2" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name2">Event Name </span>
          <p  id="event_category2">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="event_list3" data-event_id="" style="display:none;" class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name3">Event Name </span>
          <p  id="event_category3">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="event_list4" data-event_id="" style="display:none;" class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name4">Event Name </span>
          <p  id="event_category4">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="event_list5" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name5">Event Name </span>
          <p  id="event_category5">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="event_list6" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name6">Event Name </span>
          <p  id="event_category6">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="event_list7" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name7">Event Name </span>
          <p  id="event_category7">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="event_list8" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name8">Event Name </span>
          <p  id="event_category8">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
       <ion-item id="event_list9" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booths_list" ui-sref="tabsController.boothList">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="event_name9">Event Name </span>
          <p  id="event_category9">category</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>



    </div>
  </ion-content>
</ion-view>