<ion-view title="Favorites" id="page7">
  <ion-content padding="true" style="background: url(img/4jJCA7huSFuogYcmCsDX_events.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="favorites-list8">
     
      <div class="get_booth_show"  style="display:none; " id="fav_booth_list0" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="fav_booth_name0"> Booth Name 1 </span> 
      <span  style="color:gold"  class=" item-note icon ion-ios-star"></span>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="fav_booth_list1" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="fav_booth_name1"> Booth Name 1 </span> 
      <span  style="color:gold"  class=" item-note icon ion-ios-star"></span>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="fav_booth_list2" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="fav_booth_name2"> Booth Name 1 </span> 
      <span  style="color:gold"  class=" item-note icon ion-ios-star"></span>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="fav_booth_list3" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="fav_booth_name3"> Booth Name 1 </span> 
      <span  style="color:gold"  class=" item-note icon ion-ios-star"></span>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="fav_booth_list4" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="fav_booth_name4"> Booth Name 1 </span> 
      <span  style="color:gold"  class=" item-note icon ion-ios-star"></span>
      </ion-item>
      </div>
      
      
      <div class="get_booth_show"  style="display:none; " id="fav_booth_list5" data-booth_id=""> 
      <ion-item class="item-icon-right assertive" ui-sref="tabsController.showBooth">
       <span id="fav_booth_name5"> Booth Name 1 </span> 
      <span  style="color:gold"  class=" item-note icon ion-ios-star"></span>
      </ion-item>
      </div>
      
      
      
      
    </ion-list>
  </ion-content>
</ion-view>