<ion-view title="Home" hide-back-button="true" id="page5">
 

  <ion-content padding="true" style="background: url(img/KeETCh0GSiaJ2BIf8u6E_events.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div></div>
    
    <div id="home-container1"> 
      <h3 id="home-heading1" style="color:#000000;font-weight:300;">Active Events</h3>
    </div>
    
    
    <ion-item id="active_event_list0" data-event_id="" style="display:none;" class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name0">Event Name </span>
          <p id="active_event_end_date0">End Date: </p>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="active_event_list1" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name1">Event Name </span>
          <p id="active_event_end_date1">End Date: </p>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="active_event_list2" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name2">Event Name </span>
          <p id="active_event_end_date2">End Date: </p>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="active_event_list3" data-event_id="" style="display:none;" class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name3">Event Name </span>
          <p id="active_event_end_date3">End Date: </p>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="active_event_list4" data-event_id="" style="display:none;" class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name4">Event Name </span>
          <p id="active_event_end_date4">End Date: </p>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="active_event_list5" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name5">Event Name </span>
          <p id="active_event_end_date5">End Date: </p>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="active_event_list6" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name6">Event Name </span>
          <p id="active_event_end_date6">End Date: </p>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="active_event_list7" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name7">Event Name </span>
          <p id="active_event_end_date7">End Date: </p>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="active_event_list8" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name8">Event Name </span>
          <p id="active_event_end_date8">End Date: </p>
        </h2assertive>
      </ion-item>
      
       <ion-item id="active_event_list9" data-event_id="" style="display:none;"  class="item-avatar item-icon-right assertive " ui- >
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="active_event_name9">Event Name </span>
          <p id="active_event_end_date9">End Date: </p>
        </h2assertive>
      </ion-item>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  
	  <!-------------------------------------------------------------------------->
    <div class="spacer" style="width: 300px; height: 54px;"></div>
    <h3 id="home-heading2" style="color:#000000;font-weight:300;">Previous Events</h3>
    
	  
	  <ion-item id="pre_event_list0" data-booth_id="" style="display:none;" class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name0">Event Name </span>
          <p id="pre_event_winer0">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="pre_event_list1" data-booth_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name1">Event Name </span>
          <p id="pre_event_winer1">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="pre_event_list2" data-booth_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name2">Event Name </span>
          <p id="pre_event_winer2">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="pre_event_list3" data-booth_id="" style="display:none;" class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name3">Event Name </span>
          <p id="pre_event_winer3">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="pre_event_list4" data-booth_id="" style="display:none;" class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name4">Event Name </span>
          <p id="pre_event_winer4">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="pre_event_list5" data-booth_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name5">Event Name </span>
          <p id="pre_event_winer5">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="pre_event_list6" data-booth_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name6">Event Name </span>
          <p id="pre_event_winer6">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
      
       <ion-item id="pre_event_list7" data-booth_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name7">Event Name </span>
          <p id="pre_event_winer7">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>

      </ion-item>
      
      
       <ion-item id="pre_event_list8" data-booth_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name8">Event Name </span>
          <p id="pre_event_winer8">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
      
       <ion-item id="pre_event_list9" data-booth_id="" style="display:none;"  class="item-avatar item-icon-right assertive get_booth_show" ui-sref="tabsController.showBooth">
        <img src="img/qX3nmxRLuWYs5cshlaQF_54.jpg">
        <h2assertive>
         
          <span id="pre_event_name9">Event Name </span>
          <p id="pre_event_winer9">winer</p>
          <i class="icon ion-android-arrow-dropright"></i>
        </h2assertive>
      </ion-item>
	  
	  
  </ion-content>
</ion-view>