<ion-view title="Show Booth" id="page11">
  <ion-content id="show_booth_body" style="display:none;" padding="true" style="background: url(img/bVWzcuhTVGSSsLuVz3JM_events.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="showBooth-card23">
      <ion-item class="item-icon-left assertive" id="showBooth-list-item22">
        <i class="icon ion-ios-list-outline"></i> <span id="show_booth_name"> Booth Name </span></ion-item>
      <div class="item item-body" id="showBooth-list-item-container4">
        <ion-list id="showBooth-list9">
          <ion-item class="item-icon-right assertive" id="showBooth-list-item32">Favorite:
            <span id="button-fav-booth"  style="color:gold"  class=" item-note icon ion-ios-star-outline" data-booth_id="" data-booth_name="" ></span>
           </ion-item>
          
          <a href="http://5.79.109.23/~smartevent/87654.pdf">
          <ion-item  class="item-icon-right assertive" id="showBooth-list-item49">PDF files:
           
           
            <span class="item-note">download</span>
            <i class="icon ion-android-arrow-down"></i>
            
           
          </ion-item>
           </a> 
          
          <a href="http://5.79.109.23/~smartevent/87654.jpg">
          <ion-item class="item-icon-right assertive" id="showBooth-list-item37">Images:
            <span class="item-note">download</span>
            <i class="icon ion-android-arrow-down"></i>
          </ion-item>
			</a>
          
        </ion-list>
      </div>
    </div>
    <button id="vote_button" data-booth_id="" class="button button-assertive button-block buttonVote">Vote !</button>
    <div id="showBooth-container2">
      <center>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=http://5.79.109.23/~smartevent/boothlist.php?event_id=6" target="_blank">
          <img src="img/google.png" width="32" alt="Google">
        </a>


        <!-- Twitter -->
        <a href="https://twitter.com/share?url=http://5.79.109.23/~smartevent/boothlist.php?event_id=6&amp;text=See This Booths&amp;hashtags=smartevent" target="_blank">
          <img src="img/twitter.png" width="32" alt="twitter">
        </a>


        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer.php?u=http://5.79.109.23/~smartevent/boothlist.php?event_id=6" target="_blank">
          <img src="img/facebook.png" width="32" alt="Facebook">
        </a>


      </center>
    </div>
  </ion-content>
</ion-view>