
 
 
 
 <ion-view id="page1" style="background-color:#F8F8F8;">
  <ion-tabs class="tabs-assertive tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="Home" icon="ion-ios-home-outline" href="#/tabs/home" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="favirote" icon="ion-ios-star-outline" href="#/tabs/Favorite" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    
   
    <ion-tab title="Events" icon="ion-ios-list-outline" href="#/tabs/events" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    
   
   
    
     <ion-tab title="Logout" icon="ion-log-out" href="#/tabs/logout" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
      
    </ion-tab>
    
       
   
  
    
    
  </ion-tabs>
</ion-view>
 